<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
     <add key="WebUrl" value="https://kdmsdev.asean.org/DocumentStorage" />
     <add key="UserName" value="Kdms.test2" />
     <add key="Password" value="F11G!!-2@" />
     <add key="Domain" value="ASEAN" />
	
	<add key="Title" value="DOCS_Common"/>
	
	<add key="ApiUrl" value="https://dmsdev.asean.org/Intergration/"/>
    <add key="ApiResource" value="api/upload"/>
    
	<add key="ErrorLogPath" />  
    <add key="ExecutionLogPath" />

	<add key="auto" value="no"/>
   </appSettings>
</configuration>